<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Walkie-Talkie</title>
    <link rel="stylesheet" href="WalkieTalkie.css">
    <meta name="viewport" content="initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="handset-container">
            <div class="antenna"></div>
            <div class="handset">
                <div style="text-align:left;">
                    <button id="power" class="power-btn">POWER</button>
                </div>
                <div class="box">
                    <div id="speaker" class="speaker"></div>
                </div>
                <div class="box">
                    <button id="volup" class="ctrl-btn">&#8679;</button>
                    <button id="voldown" class="ctrl-btn">&#8681;</button>
                </div>
                <div class="radio-display">
                    <div id="msg1"></div>
                    <div id="msg2"></div>
                    <div id="msg3"></div>
                </div>
                <div class="box">
                    <button class="ctrl-btn">&#8678;</button>
                    <button class="ctrl-btn">&#8680;</button>
                </div>
                <div class="box">
                    <button id="ptt" class="ptt-btn">PTT</button>
                </div>
                <!--<div>
                    <button id="play" class="no-select">Play Last Tx Clip</button>
                </div>-->
            </div>
        </div>
        
    </div>
    <script>
        const WEBSOCKET_CHANNEL = "<%= socketPath %>";
        const CHANNEL_ID  = "<%= channelID %>";
    </script>
    <script src="WalkieTalkie.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
