<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Walkie-Talkie</title>
    <link rel="stylesheet" href="/WalkieTalkie.css">
    <meta name="viewport" content="initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="handset-container">
            <div>
                <button id="yellow" class="color-picker yellow"></button>
                <button id="pink" class="color-picker pink"></button>
                <button id="red" class="color-picker red"></button>
                <button id="blue" class="color-picker blue"></button>
            </div>
            <div class="antenna"></div>
            <div id="handset" class="handset yellow">
                <div style="text-align:left;">
                    <button id="power" class="power-btn">POWER</button>
                </div>
                <div class="box">
                    <div id="speaker" class="speaker"></div>
                </div>
                <div class="box">
                    <button id="volup" class="ctrl-btn arrow-btn arrowup"></button>
                    <button id="voldown" class="ctrl-btn arrow-btn arrowdown"></button>
                </div>
                <div id="display" class="radio-display">
                    <div id="msg1"></div>
                    <div id="msg2"></div>
                    <div id="msg3"></div>
                </div>
                <div class="box">
                    <!--<button class="ctrl-btn">&#8678;</button>
                    <button class="ctrl-btn">&#8680;</button>-->
                    <button id="getlink" class="wide-btn noselect">Copy Link</button>
                </div>
                <div class="box">
                    <div class="label">Push-To-Talk</div>
                    <button id="ptt" class="ptt-btn noselect"></button>
                </div>
                <div class="wundervision-container">
                    <span class="wv-wunder">Wunder</span>
                    <span class="wv-vision">Vision</span>
                </div>
            </div>
        </div>
        <input id="link" type="text" value="<%= link %>">
    </div>
    <script>
        const WEBSOCKET_CHANNEL = "<%= socketPath %>";
        const CHANNEL_ID  = "<%= channelID %>";
    </script>
    <script src="/AudioHandler.js" type="text/javascript" charset="utf-8"></script>
    <script src="/WalkieTalkie.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
