.container{
    text-align: center;
    margin: 0 auto;
}

.handset-container{
    display: inline-block;
}

.antenna{
    border: 15px solid black;
    height: 30px;
    width: 1px;
    margin-left: 75%;
    background-color: black;
    border-radius: 50% 50% 0% 0%;
}

.handset{
    background-image: linear-gradient(to right, yellow, rgb(200,200,0));
    padding: 5px;
    border: 5px solid black;
    box-shadow: 5px 5px 10px black;
    border-radius: 10%;
}

.radio-display{
    margin: 0 auto;
    width: 150px;
    height: 75px;
    background-color: lightgreen;
    border: 2px solid green;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 5%;
}

.radio-display > div{
    margin: 1px;
    height: 33%;
}

.box{
    margin: 0 auto;
    width: 200px;
    padding: 5px;
    display: block;
}

.speaker{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: radial-gradient(rgb(80, 80, 80) 0%, rgb(70, 70, 70), 15%, black 16%, rgb(80, 80, 80) 20%, rgb(50, 50, 50) 100%);
    border: 10px solid black;
    box-sizing: border-box;
}

.speaker-talking{
    background-image: radial-gradient(rgb(115, 115, 115) 0%, rgb(105, 105, 105), 15%, black 16%, rgb(115, 115, 115) 20%, rgb(85, 85, 85) 100%);
}
.power-btn{
    display: inline-block;
    background-color: red;
    font-weight: bold;
    color:white;
    width: 60px;
    padding: 0px;
    height: 35px;
    margin-left: 5px;
    margin-bottom: -15px;
    border-radius: 20%;
}
.power-btn:focus
{
    outline:0;
}

.ptt-btn{
    height: 100px;
    width: 100%;
    border-radius: 20%;
    background-color: darkslategray;
    color:white;
    font-size: 2rem;
    font-weight: bold;
}
.ptt-btn:active{
    background-color: slategray;
}
.ptt-btn:focus{
    outline:0;
}

.ctrl-btn{
    background-color: black;
    height: 45px;
    width: 45px;
    color:white;
    font-weight: bold;
    font-size: 1.5em;
    margin: -5px 0;
}
.ctrl-btn:focus{
    outline:0;
}


#msg{
    margin-top: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}