.container{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

button{
    margin-bottom: 10px;
}

.speaker{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: radial-gradient(rgb(80, 80, 80) 0%, rgb(70, 70, 70), 15%, black 16%, rgb(80, 80, 80) 20%, rgb(50, 50, 50) 100%);
    border: 10px solid black;
    box-sizing: border-box;
}

.speaker-talking{
    background-image: radial-gradient(rgb(115, 115, 115) 0%, rgb(105, 105, 105), 15%, black 16%, rgb(115, 115, 115) 20%, rgb(85, 85, 85) 100%);
}

.ptt-btn{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: green;
    color:white;
    font-size: 2rem;
    font-weight: bold;

}